<div class="stats">
  <div class="card purple">
    <div>
      <span class="count">{{ charCount }}</span>
      <p>Total Characters</p>
    </div>
    <div>
      <img src="/assets/images/pattern-character-count.svg" alt="" />
    </div>
  </div>

  <div class="card orange">
    <div>
      <span class="count">{{ wordCount }}</span>
      <p>Word Count</p>
    </div>
    <div>
      <img src="/assets/images/pattern-word-count.svg" alt="" />
    </div>
  </div>

  <div class="card yellow">
    <div>
      <span class="count">{{ sentenceCount }}</span>
      <p>Sentence Count</p>
    </div>
    <div>
      <img src="/assets/images/pattern-sentence-count.svg" alt="" />
    </div>
  </div>
</div>
